* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

header {
  text-align: center;
}

#top_bar {
  height: 64px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  background: white;
  position: relative;
}

#top_bar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#top_bar svg {
  fill: white;
}

#top_bar img {
  width: 100px;
}

#top_menu {
  display: flex;
  align-items: center;
  font-size: 12px;
}

#top_menu > a {
  margin-left: 16px;
  padding: 10px;
  text-decoration: none;
  opacity: 0.8;
  color: black;
}

#top_menu > a:hover {
  opacity: 1;
}

#top_menu > a:first-child {
  margin-left: 0;
}

#top_menu .button {
  background: black;
  color: white;
  border-radius: 99px;
  padding: 2px 12px;
  transition: all 0.3s ease-in-out;
}

/* ---- */

#top_bar_countdown_container {
  background: #dadaff;
  padding: 8px;
}

#top_bar_countdown {
  display: flex;
  align-items: center;
  justify-content: center;
}

#top_bar_countdown .sep {
  opacity: 0.65;
  margin: 0;
}

#top_bar_countdown .block_name {
  display: none;
}

#top_bar_countdown > div {
  margin-right: 12px;
  margin-left: 12px;
}

#top_bar_countdown > div:last-child {
  margin-right: 0;
}

/* --- */
#top_bar_countdown_container {
  background: #cccccc;
  padding: 8px;
}

#top_bar_countdown {
  display: flex;
  align-items: center;
  justify-content: center;
}

#top_bar_countdown .sep {
  opacity: 0.65;
  margin: 0;
}

#top_bar_countdown .block_name {
  display: none;
}

#top_bar_countdown > div {
  margin-right: 12px;
  margin-left: 12px;
}

#top_bar_countdown > div:last-child {
  margin-right: 0;
}

#top_bar_countdown .num {
  border-radius: 4px;
  background: linear-gradient(180deg, #fff 0%, #f4fbff 100%);
  box-shadow: 0px 8.5px 17px -3px #c1e5fa, 0px -0.7px 3.8px 0.7px #fff inset;
  color: #181818;
  text-align: center;
  font-size: 14px;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 26px;
}

#top_bar_countdown .two_nums {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

#top_bar_countdown .two_nums > .num:first-child {
  margin-right: 8px;
}

/* ---- */
#content-top {
  background-image: url("src/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.6; */
}

#content-top .content {
  width: 100%;
  height: 100%;
  padding: 60px;
  background-color: rgba(255, 255, 255, 0.4);
}

#content-top .title {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  color: white;
  background-color: #2a2a2ab2;
  border-radius: 20px;
}

#content-top .title h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 16px;
}

#content-top .title p {
  font-weight: 500;
}

#video {
  width: 800px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 32px;
  margin-bottom: 200px;
  border-radius: 8px;
}

#video iframe {
  width: 100%;
  height: 100%;
}

/* ---- info-section ---- */
#info-section {
  position: relative;
}

#info-section .get_copy {
  width: 80%;
  max-width: 1000px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#info-section .get_copy img {
  height: 150%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

#info-section .container {
  width: 100%;
  height: 180px;
  background-color: #2a2a2a;
  padding-top: 56px;
  border-radius: 20px;
}

#info-section .get_copy h2 {
  position: absolute;
  right: 20%;
  font-size: 36px;
}

#info-section .get_copy a {
  padding: 20px 50px;
  position: absolute;
  right: 16%;
  bottom: 0;
  transform: translate(0px, 50%);
  background-color: #ed6052;
  border-radius: 12px;
  color: white;
  font-size: 26px;
  font-weight: 700;
  box-shadow: 0px 4px 4px 0px #00000040;
}

#info-section .copy_info {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 100px;
  padding: 200px 0;
}

#info-section .copy_info ul {
  flex: 1;
  margin-top: 80px;
}

#info-section .copy_info ul li {
  flex: 1;
  margin-bottom: 26px;
  font-size: 24px;
  font-weight: 700;
}

#info-section .copy_info img {
  width: 50%;
}

/* ---- sale-section ---- */

#sale-section {
  background-color: black;
  color: white;
  padding-bottom: 150px;
}

#sale-section .container {
  width: 720px;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}

#sale-section h1 {
  font-size: 36px;
}

#sale-section .title {
  font-size: 32px;
  margin-top: 20px;
  font-weight: 400;
  color: #dddddd;
}

#sale-section .training {
  font-weight: 600;
  margin: 16px auto;
}

#video_container {
  height: 405px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 32px;
  border-radius: 8px;
}

#video_container iframe {
  width: 100%;
  height: 100%;
}

#sale-section .benefits {
  margin-top: 50px;
  color: #f8f8f8;
}

#sale-section .benefits h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 32px;
}

#countdown_container .content {
  background: #f4fbff;
  border-radius: 16px;
  padding: 64px;
  text-align: center;
  font-weight: 500;
  width: 1148px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  position: relative;
}

#countdown_container .content > * {
  margin-bottom: 32px;
}

#countdown_container .content > *:last-child {
  margin-bottom: 0;
}

#countdown_container p {
  color: black;
}

#countdown {
  display: flex;
  align-items: center;
  justify-content: center;
}

#countdown > div {
  margin-right: 24px;
}

#countdown > div:last-child {
  margin-right: 0;
}

#countdown .num {
  border-radius: 6px;
  background: linear-gradient(180deg, #fff 0%, #f4fbff 100%);
  box-shadow: 0px 8.5px 17px -3px #c1e5fa, 0px -0.7px 3.8px 0.7px #fff inset;

  color: #181818;
  text-align: center;
  font-size: 38px;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 62px;
}

#countdown .two_nums {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

#countdown .two_nums > .num:first-child {
  margin-right: 12px;
}

#countdown .block_name {
  color: #82afc9;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
}

#sale-section .benefit-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* #sale-section .benefit-info  > * {
  flex: 1 1 0px;
} */

#sale-section .benefit-info .accelerator-image {
  width: 256px;
  height: 256px;
  background-color: white;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sale-section .benefit-info .accelerator-image img {
  object-fit: cover;
}

#sale-section .benefit-info .crown-convention-image {
  width: 250px;
}

#sale-section .benefit-info .crown-convention-image img {
  width: 100%;
}

#sale-section .benefit-info li {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 26px;
  text-align: start;
}

#sale-section .benefit-info li img {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  /* -webkit-filter: grayscale(100%);
  filter: grayscale(100%); */

  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

#sale-section .benefit-title p {
  font-size: 20px;
  font-weight: 400;
}

#sale-section .benefit-title span {
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
}

#sale-section .pricing {
  font-size: 24px;
  font-weight: 700;
  margin-top: 80px;
}

#sale-section .pricing .regular-price {
  font-size: 20px;
  text-decoration: line-through;
  margin-bottom: 14px;
}

#sale-section .join-now {
  display: inline-block;
  position: relative;
  margin-top: 57px;
  color: white;
  font-size: 24px;
  font-weight: 700;
  padding: 24px 103px;
}

#sale-section .join-now span {
  position: relative;
  z-index: 1;
}

#sale-section .join-now::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 99px;
  background: #44adf0;
  transition: all 0.3s ease-out;
}

#sale-section .join-now:hover::before {
  transform: scale(1.1);
}

#sale-section .guarantee {
  color: white;
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  margin-top: 20px;
}

/* ---- footer ---- */

footer {
  font-family: Inter, sans-serif;
  font-size: 15px;
  background: black;
  color: white;
}

footer .content {
  width: 1200px;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

footer #social_links {
  display: flex;
  margin-bottom: 24px;
}

footer #social_links a {
  margin-top: 0;
  margin-bottom: 0;
}

footer {
  background: black;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
}

footer .col:first-child {
  color: #434354;
}

footer .col h3 {
  margin-bottom: 20px;
}

footer .col a {
  display: block;
  margin-bottom: 16px;
  color: #4c5e7c;
  text-decoration: none;
}

footer .col a:hover {
  color: white;
  text-decoration: underline;
}

footer .col a:last-child {
  margin-bottom: 0;
}

footer .content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

footer .col {
  width: calc(25% - 22.5px);
  /*margin-bottom: 30px;*/
}

footer svg {
  fill: #24272e;
}

footer #social_links a {
  width: 24px;
  fill: #434354;
  margin-right: 30px;
}

footer .social_links_icon:last-child {
  margin-right: 0;
}

footer .social_links_icon:hover {
  fill: white;
}

footer .products a {
  display: flex;
  align-items: center;
}

footer .col a {
  color: white;
}

footer h4 {
  margin-bottom: 24px;
}

footer .products a svg {
  fill: white;
  margin-right: 6px;
}

@media (max-width: 800px) {
  footer .content {
    flex-direction: column;
    width: 100%;
    width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
  }

  footer .col {
    width: 100%;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--color-dark);
  }

  footer .col:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
